<ul>
  <li>9 Länder</li>
  <li>3 Zeitzonen</li>
  <li>ca. 3800 Kilometer</li>
  <li>15 UNESCO-Weltkulturerbestätten</li>
  <li>Von Bologne-sur-Mer nach Sankt Petersburg</li>
</ul>

<img src="http://radtouren-magazin.com/wp-content/uploads/2013/06/Wegweiser2_Radreise_R1_RT_0413_Q_Kothe.jpg" alt="R1 Europaradweg">

<p> DAS ALLES ist der R1, DER Europaradweg</p>
