<h2> Tipps </h2>
<t> Nach 5 Jahren R1 haben sich viele Dinge angesammelt, die man bei dem Europaradweg beachten sollte...</t>
<t> Hier sind einige Tipps für Radler, die das "Abenteuer R1" wagen wollen:</t>
