<h2> Mit 16 Zoll Rädern durch Europa - ein Reisebericht </h2>
<t>An meinem 8. Geburtstag hat sich mein Leben verändert. Das <a href="http://de.brompton.com" target="_blank">Brompton</a>, mit dem ich noch im gleichen Jahr eine unglaubliche Reise antreten werde, war ein wirklich tolles Geschenk!</t>
<t>
